# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Data & ML Models (Large files / Generated outputs)
data/processed_features.csv
data/demand_model.pkl
data/forecast_results.json

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
